* {

    padding: 0;
    margin: 0;
    box-sizing: border-box;

    list-style: none;
}

/******** REGOLE GENERALI **************/

:root {

    --primary-color: #0c1014;
    --main-color: #14171d;
    --player-color: #212021;
    --text-color: #5f6166;
    color: white;
}

/********* FONT AND TYPE *******/

a:link, a:visited {

    text-decoration: none;
    color: var(--text-color);

}

a:hover {

    color: inherit;
}
/********* FONT AND TYPE *******/


.container {

    display: flex;
}

main {

    display: flex;
    flex-direction: column;
    width: calc(100vw - 160px);
}

#side-bar {

    background-color: black;
    width: 160px;
    height: calc(100vh - 100px );
}

#call-a {

    background-color: var(--primary-color);
    width: 100%;
    height: 100px;
}

#discovery {

    background-color: var(--main-color);
    height: calc(100vh - 200px);
    overflow: scroll;
}

footer {

    height: 100px;
    background-color: var(--player-color);
    position: relative;
}

#player {
}

/**********+ REGOLE GENERALI *********/
/**********+ SIDE-BAR *********/

.inner-sd {

    height: 100%;
    min-height: 450px;
    line-height: 35px;
    overflow: hidden;
    padding: 15px;
    padding-bottom: 0px;
}

.top-sb {

    height:  calc(100% - 80px);
    display: flex;
    flex-direction: column;
}

.bt-sb {

    height: 100px;
    background-color: black;
}

.playlist {


    display: flex;
    flex-direction: column;
    overflow: hidden;

}

.playlist-lst {

    height: 100%;
    display: flex;
}
.playlist-lst ul {

    overflow-y: auto;
    width: 100%;

}

/********** TOP-NAV */

.nav ul li a img {

    width: 25px;
    vertical-align: middle;
    margin-right: 10px;
}

.white-bar {

    height: 1px;
    background-color: white;
}